*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white url(../imagens/fundo.png) repeat-x;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;   
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png);
    text-indent: -3000px;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

#topo ul{
    margin-top: 30px;
    background: #B10333;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    padding: 0.5em 1.3em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) repeat-y left center;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001D;
     
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.inter #navegacao a#inter,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos{
    color: white;
    background-color: #DE003e;
    cursor: text;
}
