*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #FFF url(../imagens/bg.png);
    margin: 15px;
}

#container{
    background: #EDE9CC url(../imagens/bg-container.png) repeat-y center;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#topo{
    background-color: #DBCD87;
    height: 15.4em;
    min-height: 250px;
    position: relative;
}

#area-logo{
    background: url(../imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -3000px;
}

#area-menu{
    background: url(../imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais{
    border-bottom: 1px solid #B5AB56;
    border-top: 1px solid #B5AB56;
    padding: 5px 0;
    font-size: 0.73em;
    color: #8B8448;
}

#menu-locais .locais{
    float: left;
    line-height: 2.1em;
}

a{
    text-decoration: none;
}

a.reserva{
    text-transform: uppercase;
    background: #A29750;
    color: #FFF5B0;
    padding: 5px 10px;
    float: right;
}

#menu{
    margin-top: 15px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#navegacao{
    float: left;
}

ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6E672C;
    line-height: 30px;
}

ul#navegacao a:hover{
    background-color: #FDF6BE;
}

.depoimento{
    width: 226px;
    height: 164px;
    float: right;
}

#nome{
    position: absolute;
    top: 177px;
    right: 73px;
    font-weight: bold;
    color: #6E672C;
    background-color: #DFD393;
    font-size: 1.28em;
}

#area-principal{
    float: left;
    width: 50%;
    background: url(../imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0;
}

#area-lateral{
    float: right;
    width: 50%;
    background: url(../imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0;
}

.conteudo{
    margin: 0 auto;
    width: 90%;
}

#rodape{
    clear: both;
}